$primary-passion-color: #d41443;
$primary-white-color: #ffffff;
$black-text-color: #000000;
$gray-text-color: #907e82;
$title-pink-color: #ffa5ba;

$font-family-body: 'DM Sans', sans-serif;
$font-family-title: 'Titan One', cursive;
$font-size-main: 16px;
$font-size-subtitle: 30px;
$font-size-title: 58px;
$font-weight-body: 400;
$font-weight-bold: 700;
$letter-spacing-body: 0.04em;

$shadow-card: 0px 8px 30px rgba(212, 20, 67, 0.1);

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$hover-button: #ecebeb;
$hover-passion-button: #c7133e;
$hero-pink-color: #ffb8ca;
$footer-pink-color: #fff5f6;
$social-pink-color: #fea5bb;
$location-pink-color: #d41342;
$burger-pink-color: #e17992;
$accent-coffee-color: #f0d1a5;
$accent-green-color: #c2e297;
$coments-icon-color: #d9d9d9;
$coments-text-color: #fafafa;
$linear-color: #e1e1e1;
