<section class="comments">
  <div class="comments-conteiner container">
    <div class="comments-collage">
      <picture>
        <source
          srcset="
            ./images/comments/home-pic5-desctop@1x.jpg 1x,
            ./images/comments/home-pic5-desctop@2x.jpg 2x
          "
          media="(min-width:1200px)"
          type="image/jpg"
        />
        <source
          srcset="
            ./images/comments/home-pic5-tablet@1x.jpg 1x,
            ./images/comments/home-pic5-tablet@2x.jpg 2x
          "
          media="(min-width:768px)"
          type="image/jpg"
        />
        <source
          srcset="
            ./images/comments/home-pic5-mobile@1x.jpg 1x,
            ./images/comments/home-pic5-mobile@2x.jpg 2x
          "
          media="(max-width:767px)"
          type="image/jpg"
        />
        <img src="./images/comments/home-pic5-mobile@1x.jpg" alt="Фото колаж" />
      </picture>
    </div>
    <div class="slider">
      <div class="slide">
        <div class="#">
          <div class="">
            <picture class="comments-photo">
              <source
                srcset="
                  ./images/comments/testimonials1-desctop@1x.jpg 1x,
                  ./images/comments/testimonials1-desctop@2x.jpg 2x
                "
                media="(min-width:1200px)"
                type="image/jpg"
              />
              <source
                srcset="
                  ./images/comments/testimonials1-tablet@1x.jpg 1x,
                  ./images/comments/testimonials1-tablet@2x.jpg 2x
                "
                media="(min-width:768px)"
                type="image/jpg"
              />
              <source
                srcset="
                  ./images/comments/testimonials1-mobile@1x.jpg 1x,
                  ./images/comments/testimonials1-mobile@2x.jpg 2x
                "
                media="(max-width:767px)"
                type="image/jpg"
              />
              <img
                class="photo"
                src="./images/comments/testimonials1-mobile@1x.jpg"
                alt="Фото девушки"
              />
            </picture>
          </div>
          <div class="comments-text">
            <p class="comments-description">
              Nullam viverra consectetuer. Quisque cursus et, porttitor
              risus.Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
              Lorem ipsum primis in nibh vel risus.
            </p>
            <div class="gradientBox">
              <div class="gradient"></div>
            </div>
          </div>
          <div class="comments-home">
            <ul class="home-points">
              <li class="points"></li>
              <li class="points"></li>
              <li class="points"></li>
            </ul>
            <h3 class="comments-address">Emily, Los Angeles</h3>
            <!-- <ul class="address-points">
              <li class="comments-icon">
                <svg class="icon" width="12" height="12">
                  <use href="./images/comments/sprite.svg#icon-home"></use>
                </svg>
              </li>
              <li class="comments-icon"></li>
              <li class="comments-icon"></li>
            </ul> -->
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="#">
          <div class="">
            <picture class="comments-photo">
              <source
                srcset="
                  ./images/comments/testimonials2-@1x.jpg 1x,
                  ./images/comments/testimonials2-@2x.jpg 2x
                "
                media="(min-width:1200px)"
                type="image/jpg"
              />
              <source
                srcset="
                  ./images/comments/testimonials2-@1x.jpg 1x,
                  ./images/comments/testimonials2-@2x.jpg 2x
                "
                media="(min-width:768px)"
                type="image/jpg"
              />
              <source
                srcset="
                  ./images/comments/testimonials2-@1x.jpg 1x,
                  ./images/comments/testimonials2-@2x.jpg 2x
                "
                media="(max-width:767px)"
                type="image/jpg"
              />
              <img
                class="photo"
                src="./images/comments/testimonials2-@1x.jpg"
                alt="Фото девушки"
              />
            </picture>
          </div>
          <div class="comments-text">
            <p class="comments-description">
              Nullam viverra consectetuer. Quisque cursus et, porttitor
              risus.Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
              Lorem ipsum primis in nibh vel risus.
            </p>
            <div class="gradientBox">
              <div class="gradient"></div>
            </div>
          </div>
          <div class="comments-home">
            <ul class="home-points">
              <li class="points"></li>
              <li class="points"></li>
              <li class="points"></li>
            </ul>
            <h3 class="comments-address">Lucy, New York</h3>
            <!-- <ul class="address-points">
                  <li class="comments-icon">
                    <svg class="icon" width="12" height="12">
                      <use href="./images/comments/sprite.svg#icon-home"></use>
                    </svg>
                  </li>
                  <li class="comments-icon"></li>
                  <li class="comments-icon"></li>
                </ul> -->
          </div>
        </div>
      </div>

      <div class="slide">
        <div class="#">
          <div class="">
            <picture class="comments-photo">
              <source
                srcset="
                  ./images/comments/testimonials3-@1x.jpg 1x,
                  ./images/comments/testimonials3-@2x.jpg 2x
                "
                media="(min-width:1200px)"
                type="image/jpg"
              />
              <source
                srcset="
                  ./images/comments/testimonials3-@1x.jpg 1x,
                  ./images/comments/testimonials3-@2x.jpg 2x
                "
                media="(min-width:768px)"
                type="image/jpg"
              />
              <source
                srcset="
                  ./images/comments/testimonials3-@1x.jpg 1x,
                  ./images/comments/testimonials3-@2x.jpg 2x
                "
                media="(max-width:767px)"
                type="image/jpg"
              />
              <img
                class="photo"
                src="./images/comments/testimonials3-@1x.jpg"
                alt="Фото девушки"
              />
            </picture>
          </div>
          <div class="comments-text">
            <p class="comments-description">
              Nullam viverra consectetuer. Quisque cursus et, porttitor
              risus.Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
              Lorem ipsum primis in nibh vel risus.
            </p>
            <div class="gradientBox">
              <div class="gradient"></div>
            </div>
          </div>
          <div class="comments-home">
            <ul class="home-points">
              <li class="points"></li>
              <li class="points"></li>
              <li class="points"></li>
            </ul>
            <h3 class="comments-address">Vanda, Boston</h3>
            <!-- <ul class="address-points">
                  <li class="comments-icon">
                    <svg class="icon" width="12" height="12">
                      <use href="./images/comments/sprite.svg#icon-home"></use>
                    </svg>
                  </li>
                  <li class="comments-icon"></li>
                  <li class="comments-icon"></li>
                </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
