<section class="hero">
    <div class="container hero-container">
        <ul class="list-hero">


            <li class="item-hero hero-left-part">
                <div class="hero-left-part-container">
                <h1 class="hero-heading">
                    <span class="hero-heading-fisrt-part">ice cream made with</span>
                    <span class="hero-heading-two-part">passion</span>
                </h1>
                <div class="hero-btn-container">
                    <a class="hero-btn hero-btn-products" href="#Our products">Products</a>
                    <a class="hero-btn hero-btn-how-made" href="#How it’s made?">How it’s made?</a>
                </div>
                <div class="hero-description-container">
                    <div class="hero-description-thumb-img">
                        <picture>
                            <source media="(min-width: 1200px )" srcset="./images/hero/desctop/png/milk-x1.png 1x, ./images/hero/desctop/png/milk-x2.png 2x">
                            <source media="(min-width: 768px)" srcset="./images/hero/tablet/png/milk-x1.png 1x, ./images/hero/tablet/png/milk-x2.png 2x">
                            <img src="./images/hero/desctop/png/milk-x1.png" alt="">
                            
                        </picture>
                    </div>
                    <div class="hero-description-thumb-text">
                        <p class="hero-description-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et
                        </p>
                        <div class="hero-icon-thumb">
                        <svg class="hero-icon-arrow">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </div>
                    </div>
                </div>
                </div>
            </li>


            <li class="item-hero hero-center-part">
                <div class="circle"></div>
                <div class="hero-bg-img">
                <picture >
                    <source media="(min-width: 1200px )" srcset="./images/hero/desctop/png/icecream-x1.png 1x, ./images/hero/desctop/png/icecream-x2.png 2x ">
                    <source media="(min-width: 768px)" srcset="./images/hero/tablet/png/icecream-x1.png 1x, ./images/hero/tablet/png/icecream-x2.png 2x">
                    <source media="(min-width: 320px)" srcset="./images/hero/mobile/png/icecream-x1.png 1x, ./images/hero/mobile/png/icecream-x2.png 2x">
                    <img src="./images/hero/mobile/png/icecream-x1.png" alt="">
                </picture>
                </div>
            </li>

            <li class="item-hero hero-right-part">
                <div class="hero-info-figures">
                    <div class="hero-info-thumb">
                        <p class="hero-figures">
                            16
                        </p>
                        <p class="hero-info">
                            cafes
                        </p>
                    </div>
                    <div class="hero-info-thumb">
                        <p class="hero-figures">
                            23
                        </p>
                        <p class="hero-info">
                            food trucks
                        </p>
                    </div>
                </div>
                <div class="hero-right-part-img-container">
                <picture>
                    <source media="(min-width: 1200px )" srcset="./images/hero/desctop/png/girl-icecream-x1.png 1x, ./images/hero/desctop/png/girl-icecream-x2.png 2x">
                    <source media="(min-width: 768px)" srcset="./images/hero/tablet/png/girl-icecream-x1.png 1x, ./images/hero/tablet/png/girl-icecream-x2.png 2x">
                    <img src="./images/hero/desctop/png/girl-icecream-x1.png" alt="">
                </picture>
                </div>
            </li>
        </ul>
    </div>
</section>