<div class="container container-nav">
    <div class="main-nav">
        <a class="logo" id="up" href="./index.html">
            <img class="img-logo" src="images/logo1.png" alt="logo" width="50">
            <span class="text-logo">icecream</span></a>
        <div class="burger-menu" id="burger-menu" data-menu>
            <nav class="page-nave">
                <ul class="site-nav list">
                    <li class="item"><a class="link" href="#Home">Home</a></li>
                    <li class="item"><a class="link" href="#About us">About us</a></li>
                    <li class="item"><a class="link" href="#How it’s made?">How it’s made?</a></li>
                    <li class="item"><a class="link" href="#Our products">Our products</a></li>
                    <li class="item"><a class="link" href="#Contact">Contact</a></li>

                </ul>
            </nav>
            <button class="btn-nav">Buy now
                <svg class="buy" width=8 height=10>
                    <use href="./images/sprite.svg#icon-button-arrow"></use>
                </svg>
            </button>
        </div>
        <button class="nav-menu" aria-expanded="false" aria-controls="burger-menu" data-nav-menu>
            <svg class="menu" width="20" height="14" aria-label="Переключатель мобильного меню">
                <use class="icon-menu" href="./images/sprite.svg#icon-Burger-menu"></use>
                <use class="icon-close" href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>

        <a class="arrow" href="#up">
            <svg class="arrow-icon">
                <use href="./images/sprite.svg#icon-circle-up"></use>
            </svg>
        </a>
        
    </div>

</div>