<div class="test">
  <div class="preparation container">
    <span class="heading">tradition and love</span>
    <h2 class="made">how it’s made?</h2>
    <div class="tablet">
      <picture>
        <source
          srcset="
            ./images/preparation-desctop/trademark.png    1x,
            ./images/preparation-desctop/trademark@2x.png 2x
          "
          media="(min-width:1200px)"
          type="image/png"
        />

        <source
          srcset="
            ./images/preparation-tablet/trademark.png    1x,
            ./images/preparation-tablet/trademark@2x.png 2x
          "
          media="(min-width:768px)"
          type="image/png"
        />

                <img class="trademark" src="./images/preparation-mobil/trademark.png" alt="корова и молоко">
            </picture>
       
             <p class="made-text">
                 <span class="madetxt" >
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas
                     eros.
                     Maecenas eleifend erat at justo fringilla.
                 </span><br>
                    <span class="Curabitur"> Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                     Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</span> <span class="text">Aliquam erat volutpat. Aenean accumsan.</span>
             </p>
          
                  <button class="button">Read more 
                    <svg class="bnt-svg" width=8 height=10> <use href="./images/sprite.svg#icon-button-arrow"></use></svg>
                  </button>  
               </div>
                    
              <picture>
                <source srcset="
                          ./images/preparation-desctop/sectionbg.png 1x,
                          ./images/preparation-desctop/sectionbg@2x.png 2x" media="(min-width:1200px)" type="image/png">
              
                <source srcset="
                          ./images/preparation-mobil/sectionbg.png 1x,
                          ./images/preparation-mobil/sectionbg@2x.png 2x" media="(max-width:767px)" type="image/png">
                <img class="milk relative" src="./images/preparation-mobil/sectionbg.png" alt="корова и молоко">
              </picture>
               
                <!-- <img class="milk relative" src="./images/preparation-mobil/sectionbg.png" alt="фон молока"> -->
            
            
    <ul  class="total">
              <li class="total-item">
                <svg class="preparation-icon">
                  <use href="./images/sprite.svg#icon-milk">
                  </use>
                </svg>
                  <span class="indicators">721</span> 
                 <p class="indicatorstxt">
                  Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                  </p>  
             </li>
        
             <li class="total-item">
                   <svg class="preparation-icon">
                   <use href="./images/sprite.svg#icon-apples">
                   </use>
                 </svg>
                  <span class="indicators">16kg</span>   
                  <p class="indicatorstxt">
                  Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                  </p>
              </li>
         
              <li class="total-item"  >
                <svg class="preparation-icon">
                   <use href="./images/sprite.svg#icon-ice-cream">
                   </use>
                 </svg>
                 <span class="indicators">84</span>  
                 <p class="indicatorstxt">
                 Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                 </p>
             </li>
         </ul>
       
    </div>
</div>
