
<div class="about-products container"> 
    <b class="text-products">100% natural</b> 
    <h2 class="title-products">products</h2> 
      <ul class="products-menu">
            <li class="products-cards ice-cream">
                <picture>
                    <source srcset="./images/products/desktop/webp/ice-cream1@1x.webp 1x, ./images/products/desktop/webp/ice-cream1@2x.webp 2x"
                    media="(min-width:1200px)"
                    type="image/webp" >
                    <source srcset="./images/products/desktop/ice-cream1@1x.png 1x, ./images/products/desktop/ice-cream1@2x.png 2x"
                    media="(min-width:1200px)"
                    type="image/png" >
                    
                    <source srcset="./images/products/tablet/webp/ice-cream1@1x.webp 1x, ./images/products/tablet/webp/ice-cream1@2x.webp 2x"
                    media="(min-width:768px)"
                    type="image/webp" >
                    <source srcset="./images/products/tablet/ice-cream1@1x.png 1x, ./images/products/tablet/ice-cream1@2x.png 2x"
                    media="(min-width:768px)"
                    type="image/png" >
                    
                    <source srcset="./images/products/mobile/webp/ice-cream1@1x.webp 1x, ./images/products/mobile/webp/ice-cream1@2x.webp 2x"
                    media="(max-width:767px)" 
                    type="image/webp" >
                    <source srcset="./images/products/mobile/ice-cream1@1x.png 1x, ./images/products/mobile/ice-cream1@2x.png 2x"
                    media="(max-width:767px)" 
                    type="image/png" >

                    <img class="products-images" src="./images/products/mobile/ice-cream1@1x.png" alt="ice-cream">
                </picture>
                    <h3 class="title-menu">ice cream</h3>
                        <b class="text-products decor">...</b>
                        <p class="text-menu">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et.
                            dolore magna aliqua facilisis.
                        </p>
                    <button class="about-btn" aria-label="about-ice-cream">
                        <svg class="" width="15" height="15">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg> 
                    </button>
            </li>

            <li class="products-cards ice-coffee">
                <picture>
                    <source srcset="./images/products/desktop/webp/ice-coffee2@1x.webp 1x, ./images/products/desktop/webp/ice-coffee2@2x.webp 2x"
                    media="(min-width:1200px)"
                    type="image/webp" >
                    <source srcset="./images/products/desktop/ice-coffee2@1x.png 1x, ./images/products/desktop/ice-coffee2@2x.png 2x"
                    media="(min-width:1200px)"
                    type="image/png" >
                    
                    <source srcset="./images/products/tablet/webp/ice-coffee2@1x.webp 1x, ./images/products/tablet/webp/ice-coffee2@2x.webp 2x"
                    media="(min-width:768px)"
                    type="image/webp" >
                    <source srcset="./images/products/tablet/ice-coffee2@1x.png 1x, ./images/products/tablet/ice-coffee2@2x.png 2x"
                    media="(min-width:768px)"
                    type="image/png" >
                    
                    <source srcset="./images/products/mobile/webp/ice-coffee2@1x.webp 1x, ./images/products/mobile/webp/ice-coffee2@2x.webp 2x"
                    media="(max-width:767px)" 
                    type="image/webp" >
                    <source srcset="./images/products/mobile/ice-coffee2@1x.png 1x, ./images/products/mobile/ice-coffee2@2x.png 2x"
                    media="(max-width:767px)" 
                    type="image/png" >

                    <img class="products-images" src="./images/products/mobile/ice-coffee2@1x.png" alt="ice-coffee">
                </picture>
                    <h3 class="title-menu">ice-coffee</h3>
                        <b class="text-products decor">...</b>
                        <p class="text-menu">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et.
                            dolore magna aliqua facilisis.
                        </p>
                    <button class="about-btn" aria-label="about-ice-coffee">
                        <svg class="" width="15" height="15">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg> 
                    </button>
            </li>

            <li class="products-cards milkshakes">
                <picture>
                    <source srcset="./images/products/desktop/webp/milkshakes3@1x.webp 1x, ./images/products/desktop/webp/milkshakes3@2x.webp 2x"
                    media="(min-width:1200px)"
                    type="image/webp" >
                    <source srcset="./images/products/desktop/milkshakes3@1x.png 1x, ./images/products/desktop/milkshakes3@2x.png 2x"
                    media="(min-width:1200px)"
                    type="image/png" >
                    
                    <source srcset="./images/products/tablet/webp/milkshakes3@1x.webp 1x, ./images/products/tablet/webp/milkshakes3@2x.webp 2x"
                    media="(min-width:768px)"
                    type="image/webp" >
                    <source srcset="./images/products/tablet/milkshakes3@1x.png 1x, ./images/products/tablet/milkshakes3@2x.png 2x"
                    media="(min-width:768px)"
                    type="image/png" >
                    
                    <source srcset="./images/products/mobile/webp/milkshakes3@1x.webp 1x, ./images/products/mobile/webp/milkshakes3@2x.webp 2x"
                    media="(max-width:767px)" 
                    type="image/webp" >
                    <source srcset="./images/products/mobile/milkshakes3@1x.png 1x, ./images/products/mobile/milkshakes3@2x.png 2x"
                    media="(max-width:767px)" 
                    type="image/png" >

                    <img class="products-images" src="./images/products/mobile/milkshakes3@1x.png" alt="ice-coffee">
                </picture>
                    <h3 class="title-menu">milkshakes</h3>
                        <b class="text-products decor">...</b>
                        <p class="text-menu">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et.
                            dolore magna aliqua facilisis.
                        </p>
                    <button class="about-btn" aria-label="about-milkshakes">
                        <svg class="" width="15" height="15">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg> 
                    </button>
            </li>
        </ul>
</div>